.cadre1
{
  background-color: #4169E1;
}

.cadre2
{
background-color: purple;

}
.cadre3
{
background-color: #FF1493;

}

.iden
{
  background-color: #4169E1;
}
.adress
{
  background-color: purple;
}

.info
{

  background-color: #FF1493;
}
